{% extends "base.html" %}
{% block content %}
<div class="container">
<br>
    {% if not billing_profile %}
    <div class='row text-center'>
        <div class='col-12 col-md-6'>
            <p class='lead'>Login</p>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
       		<p>Not existing user?</p> 
			<a href="{% url 'send-otp' %}">Register</a>
			<br>
			<p>Forgot Password?</p> 
			<a href="{% url 'password_reset' %}">Reset Password</a> 
        </div>
        <br>
    </div>

    {% else %}

    {% if not object.shipping_address %}
    <h2>Shipping Address</h2>
    
    <div class="container">
            <div class='col-md-6'>

                    {% url "addresses:checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}'
            
                </div>
                <div class='col-md-6'>
                    {% url 'addresses:checkout_address_reuse' as checkout_address_reuse %}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
                </div>
            
    </div>
    
    {% elif not object.billing_address %}
    <div class='row'>
        <div class='col-12'>
            <h2>Billing Address</h2>
            <hr />
        </div>
        <div class='col-6'>

            {% url "addresses:checkout_address_create" as checkout_address_create %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
        </div>
        <div class='col-6'>
            {% url 'addresses:checkout_address_reuse' as checkout_address_reuse %}
            {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri  address_type='billing' action_url=checkout_address_reuse %}
        </div>


    </div>
    {% else %}

    <h1>Finalize Checkout</h1>
    <p>Cart Items: {% for book_quantity in object.cart.book_quantity.all %}
    			   {{ book_quantity.book }} x {{ book_quantity.quantity }}
    			   {% if not forloop.last %},
        		   {% endif %}
        		   {% endfor %}
    </p>
    <p>Shipping Address: {{ object.shipping_address_final }}</p>
    <form class='form' method='POST' action= '{% url "addresses:change_address" %}' >{% csrf_token %}
        <button type='submit' class='btn btn-warning'>Change Address</button>
    </form>
    <p>Billing Address: {{ object.billing_address_final }}</p>
    <p>Cart Total: {{ object.cart.total }}</p>
    <p>Shipping Total: {{ object.shipping_total }}</p>
    <p>Order Total: {{ object.total }}</p>
    <form class='form' method='POST' action="">{% csrf_token %}
        <button type='submit' class='btn btn-success'>Checkout</button>
    </form>
    {% endif %}
    {% endif %}

</div>
{% endblock %}