{% extends "base.html" %}
{% block content %}
<div class="container">
  
<h1>Your Cart</h1>

{% if cart.books.exists %}
<table class="table cart-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Book Name</th>
      <th>Book Price</th>
    </tr>
  </thead>
  <tbody class='cart-body'>
    {% for book in cart.books.all %}
    <tr class='cart-product'>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href='{{ book.get_absolute_url }}'>{{ book.title }}</a>
        {% include 'booksapp/snippets/update-cart.html' with  product=book cart=cart %}
      </td>
      <td>₹{{ book.price }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal</b>  <span class='cart-subtotal'>₹{{ cart.subtotal }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Processing Fee</b>  <span>₹50</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total</b>  <span class='cart-total'>₹{{ cart.total }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><a class='btn btn-lg btn-success' href='{% url "carts:checkout" %}'>Checkout</a></td>
    </tr>
  </tbody>
</table>
{% else %}
<p class='lead'>Cart is empty</p>
{% endif %}

</div>
{% endblock %}
