{% extends "base.html" %}
{% block content %}
<div class="container">
  
<h1>Your Cart</h1>

{% if cart.books.exists %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Book Name</th>
      <th>Book Price</th>
    </tr>
  </thead>
  <tbody>
    {% for book in cart.books.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href='{{ book.get_absolute_url }}'>{{ book.title }}</a>
      {% include 'booksapp/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
      <td>{{ book.price }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal</b> {{ cart.subtotal }}</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total</b> {{ cart.total }}</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><a class='btn btn-lg btn-success' href='{% url "carts:checkout" %}'>Checkout</a></td>
    </tr>
  </tbody>
</table>

{% else %}
<p class='lead'>Cart is empty</p>
{% endif %}

</div>
{% endblock %}
