{% extends "base.html" %}

{% block content %}

 <div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
         <h1>Order {{ object.order_id }}</h1>
          <hr/>
    </div>
</div>

<div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
<p>
Items: {% for book_quantity in object.cart.book_quantity.all %}
		{{ book_quantity.book }} x {{book_quantity.quantity}}
		{% if not forloop.last %}, 
		{% endif %}
{% endfor %}
</p>
<p>Shipping Address: {{ object.shipping_address_final  }}</p>
<p>Subtotal: ₹{{ object.cart.subtotal }}</p>
<p>Processing Fee: ₹50</p>
<p>Shipping Fee: ₹{{ object.shipping_total }}</p>
<p>Order Total: ₹{{ object.total }}</p>
<p>Order Status: {{ object.get_status }}</p>
</div>

{% endblock %}