{% extends "base.html" %} {% load static %} {% block content %}
<br>
<div class="container">
<form method="POST">{% csrf_token %}
	{{ form }} 
	<button type='submit' class ='form-control col-md-1 btn btn-info'>Register</button>
</form>
</div>
<br>
<br>
<br>
<div>
<a href = '{% url "send-otp" %}'><button class = 'form-control col-md-1 btn btn-success'>Change Number</button></a>
</div>
<div>
<p class = 'resend-otp-text'>Haven't received OTP?</p>
<br>
<form class = 'resend-otp-form' action = '{% url "sms:resend-otp" %}' method = 'POST'> {% csrf_token %}
  <input class = 'form-control col-md-3' id = 'to-mobile-number-resend' type="hidden" name="phone-number" readonly maxlength="10" required>
  <button type='submit' class ='form-control col-md-1 btn btn-info'>Resend OTP</button>
</form>
</div>
{% endblock %}