{% extends "base.html" %} {% load static %} {% block content %}

{% if request.user.is_authenticated%}
{% endif%}
<br>
<div class="container login_container">
<form class = 'send-otp-form' action = '{% url "sms:send-otp" %}' method = 'POST'> {% csrf_token %}
  <input id = 'from-mobile-number-send' class = 'form-control col-md-3' pattern=".{10,10}" required type='text' name = 'phone-number'>
  <input class = 'form-control col-md-1' type="submit" value="Send OTP">
</form>
</div>
<input id = 'change-otp-number' class = 'form-control col-md-1' type="submit" value="Change Number">
<div class="container login_container">
<form class = 'verify-otp-form' action = '{% url "sms:verify-otp" %}' method = 'POST'> {% csrf_token %}
  <input class = 'form-control col-md-3' id = 'from-mobile-number-verify' type="text" name="phone-number" readonly maxlength="10" required>
  <input class = 'form-control col-md-3' pattern=".{4,4}" required type='text' name = 'otp-number'>
  <input class = 'form-control col-md-1' type="submit" value="Verify OTP">
</form>
</div>
<div class="container">
<form class = 'register-form' method="POST">{% csrf_token %}
	{{ form }} 
	<input class = 'form-control' type="submit" value="Register">
</form>
</div>
{% endblock %}