{% extends "base.html" %} {% block content %}
<div class='container-fluid'>
	{% if request.GET.q %}
	<p>You Searched For : <b>{{ request.GET.q }}</b></p>
	{% endif %}
	<hr>
</div>

<div class='container-fluid'>
	<div class='row'>
		{% if object_list %}
		{% for obj in object_list %}
		<div class='col-xs-6 col-md-3'>
			{% include 'booksapp/snippets/card.html' with instance=obj %}
			{% if forloop.counter|divisibleby:4 %}
		</div>
	</div>
	<div class='row'>
		<div class='col-12'>
			<hr />
		</div>
		{% else %}
	</div>
	{% endif %}
	{% endfor %}
	{% else %}
	<p>No books are available.</p>
	{% endif %}
</div>
</div>
{% endblock %}
