{% extends "base.html" %}

{% block content %}
<br>
    <div class='container'>
        <div class='row'>
{% if object_list %}
    {% for obj in object_list %}
    <div class='col-xs-6 col-md-3'>
        {% include 'booksapp/snippets/card.html' with instance=obj %}     
	  {% if forloop.counter|divisibleby:4 %}
	   </div> </div><div class='row'><div class='col-12'><hr/></div> 
      {% else %}
         </div>  
        {% endif %}  
    {% endfor %}
{% else %}
    <p>No books are available.</p>
{% endif %}
</div>
</div>
{% endblock %}