{% extends "base.html" %}

{% block content %}
        <div class='row'>
            <div class='col-12 my-3'>
                    <h1>Book View History</h1>
                    <hr/>
            </div>
    {% for obj in object_list %}
        <div class='col'>
        {{ forloop.counter }}
        {% include 'booksapp/snippets/card.html' with instance=obj.content_object %}  
        	  {% if forloop.counter|divisibleby:4 %}
	   </div> </div><div class='row'><div class='col-12'><hr/></div> 
      {% else %}
         </div>  
        {% endif %}  
    {% endfor %}
</div>
{% endblock %}