<!-- Search Area -->
<div class="search-area">
	<form method='GET' action='{% url "search:search" %}'>
		<select class="book_select" name="f" placeholder="Type for books">
			<option value="None">Filter By</option>
			<option value="Title">Title</option>
			<option value="Author">Author</option>
			<option value="Isbn10/13">Isbn10/13</option>
			<option value="Publisher">Publisher</option>
		</select>
		 <input type="search" name="q" id="headerSearch"
			placeholder="Type for books">
			<button type="submit">
					<i class="fa fa-search search_button" aria-hidden="true"></i>
				</button>
	</form>
</div>