{% load static %}
<script src='{% static "js/jquery/jquery-2.2.4.min.js" %}'></script>
<!-- Popper js -->
<script src='{% static "js/popper.min.js" %}'></script>
<!-- Bootstrap js -->
<script src='{% static "js/bootstrap.min.js" %}'></script>
<!-- Classy Nav js -->
<script src='{% static "js/classy-nav.min.js" %}'></script>
<!-- Active js -->
<script src='{% static "js/active.js" %}'></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='{% static "js/my-ajax.js" %}'></script>
<!-- Django Secure AJAX JS -->
<script src='{% static "js/csrf.ajax.js" %}'></script>